.content {
      color: red;
      font-family: helvetica, arial;
    }
    h1, h2 {
      color: rgb(79, 180, 226);
      font-family: Georgia;
    }

.test {
  color: white;
  background-color: black;

}




